      body {
        margin: 150px 85px;
        color: white;
        font-family: Sans-serif;
        background-color: black;
      }
      body > div {
        position: absolute;
      }
      #clockface {
        position: absolute;
        top: 0;
        left: 0;
        width: 600px;
        height: 600px;
        background-color: black;
        border-radius: 300px;
      }
      #clockborder {
        position: absolute;
        top: 0;
        left: 0;
        width: 596px;
        height: 596px;
        border: 2px solid #707070;
        border-radius: 300px;
      }
      .hoursmark {
        height: 4px;
        width: 4px;
        position: absolute;
        top: 298px;
        left: 298px;
      }
      .hoursmark > div {
      	height: 4px;
      	width: 140px;
      }
      .hoursmark > div > div {
        position: absolute;
        left: 135px;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: white;
      }
      .hoursmark > div > span {
        position: absolute;
        left: 150px;
        top: -7px;
      	display: block;
      }
      .secondsmark {
        height: 4px;
        width: 4px;
        position: absolute;
        top: 298px;
        left: 298px;
      }
      .secondsmark > div {
      	height: 4px;
      	width: 290px;
      }
      .secondsmark > div > div {
        position: absolute;
        left: 270px;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: red;
      }
      #hourshand {
        height: 48px;
        width: 48px;
        background-color: darkGray;
        border-radius: 24px;
        position: absolute;
        top: 276px;
        left: 276px;
        transform: rotate(-90deg);
      }
      #hourshand div {
      	position: absolute; 
      	top: 16px; 
      	left: 16px; 
      	height: 16px; 
      	border-radius: 8px;
      	width:150px; 
      	background: darkGray;
      }
      #minuteshand {
        height: 24px;
        width: 24px;
        border-radius: 12px;
        position: absolute;
        background: gray;
        top: 288px;
        left: 288px;
        transform: rotate(-90deg);
      }
      #minuteshand div {
      	position: absolute; 
      	top: 8px; 
      	left: 8px; 
      	height: 8px; 
      	border-radius: 4px;
      	width: 230px;
      	background: gray;
      }
      #secondshand {
        height: 12px;
        width: 12px;
        border-radius: 6px;
        position: absolute;
        background: lightGray;
        top: 294px;
        left: 294px;
        transform: rotate(-90deg);
      }
      #secondshand div {
      	position: absolute; 
      	top: 4px; 
      	left: 4px; 
      	height: 4px; 
      	border-radius: 2px;
      	width:280px; 
      	background: lightGray;
      }